# Lock files
Cargo.lock

# Build artifacts
target
magic_finder
magic_transformer.py
rook_magics.json
bishop_magics.json

# Profiler flame graphs
*.svg

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
